#praise {
    color: brown;
}
h2 {
    color: green;
}
#lorem

{
    background-color: blue;
    color: white;
    font-size: 30px;
}
h4{
    font-size: 30px;
    color: blue;
}
#day{
    background-color: green;
    color: yellow;
    font-size: 30px;
}
#family {
    background-color: purple;
    color: lightpink;
    font-size: 20px;
}
#thankful
{
    font-size: 50px;
}